<footer class="max-w-80 m-auto mt-10 mb-32">
  <p>
    This was inspired by the Gamut Mask from "Color and Light" by James Gurney.
  </p>
  <p>
    GitHub: <a class="underline" href="https://github.com/itoudium/colormasktool" target="_blank">itoudium/colormasktool</a>
  </p>
  <p>
    Developer's blog: <a class="underline" href="https://blog.itod.dev/story/gamut-color-mask-tool/" target="_blank">blog.itod.dev</a>
  </p>
</footer>